/************************
    Clear defaults.
*************************/

@import 'reset.css';

/************************
    fonts
*************************/

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
.logo {
    font-family: 'Georgia', Times, 'Times New Roman', serif
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

footer {
    font-size: 12px;
}

.logo {
    font-size: 36px;
}

.licenses {
    font-size: 10px;
}


/************************
    Colors
*************************/

body {
    background: #f5f5f5;
    background-image: url("../images/concrete-texture.png");
    color: #777777;
}

header {
    background: #ffffff;
    border-bottom: #cccccc solid 2px;
}

.content {
    background: #ffffff;
    /* border-top: #dddddd solid 2px;
    border-bottom: #dddddd solid 2px; */
}

hr {
    background-color: #d3d3d3;
}

section,
aside {
    background: #ffffff;
}

section h2,
aside h3 {
    border-bottom: 2px solid #d3d3d3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4aaaa5;
}

nav,
nav a {
    color: #777777;
}

nav a:hover {
    color: #4aaaa5;
}

footer {
    color: #dddddd;
    background: #666666;
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}

figcaption,
.logo {
    background: #4aaaa5;
    color: #ffffff;
}

.ltor a {
    text-decoration: none;
}

figure,
figure img {
    float: left;
    width: 300px;
    position: relative;
}

figure img {
    border: #777777 solid 1px;
}

figure {
    margin: 10px;
}

figcaption {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background: #4aaaa5;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

figcaption:hover {
    color: #777777;
}


/************************
    Form
*************************/

.register-group label {
    color: #648880;
    cursor: pointer;
}

.register-group input {
    height: 25px;
}

.register-group textarea {
    height: 150px;
}

.register-group input,
.register-group textarea {
    width: 95%;
    padding: 5px;
}

.register-group input,
.register-group select,
.register-group textarea {
    border: 2px solid #dddddd;
    margin: 5px 0;
    /* 
    border-radius: 5px;
    color: #888;
    display: block;
    padding: 5px 8px; */
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-default {
    border: 0;
    background: #4aaaa5;
    padding: 11px 30px;
    font-size: 14px;
}


/************************
    Sizing
*************************/

html,
body {
    height: 100%;
}

header {
    height: 76px;
}

section,
.content {
    margin: 0 auto;
    width: 960px;
}

section,
aside {
    margin: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

section {
    width: 650px;
}

section h2,
aside h3 {
    padding: 10px 20px;
}

section p,
section form,
section table {
    padding: 10px 20px;
}

nav,
aside {
    width: 270px;
}

hr {
    height: 1px;
    width: 95%;
}

footer {
    padding: 20px;
}

nav {
    padding: 20px 0;
}

nav,
.logo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.logo {
    padding: 20px;
}


/************************
    Position
*************************/

body {
    display: flex;
    flex-direction: column;
}

nav {
    text-align: center;
}

nav,
aside {
    float: right;
    margin-right: 0;
}

nav a {
    margin: auto 5px;
}

section {
    float: left;
    margin-left: 0;
}

aside ul {
    margin: 20px 30px;
}

footer {
    text-align: center;
}

.logo {
    float: left;
}

.ltor {
    display: inline;
}

.headshot {
    float: left;
    margin: 10px;
    position: relative;
}

.clear {
    clear: both;
}

.content {
    flex: 1 0 auto;
}


/* 
   TODO:
   - Clean up stylesheet so all elements are in proper gropus
   - CSS hover for social icons
*/